<div class="navbar">
  <img class="logo" routerLink="/" src="assets/webshio.png" alt="">
  <button routerLink="admin">Admini vaatesse</button>
  <img class="cart-button" routerLink="ostukorv" src="assets/shopping-cart.png" alt="">
</div>

<!-- alt - alternative text
  1. kui pilti miskipärast näha ei ole, siis näitab seda teksti
  2. arendajad ei pea minema lehele seda pilti üles otsima, et vaadata mis seal taga peitub
  3. riigiettevõtetel on nõue ja teistel on soovituslik pimedate jaoks sinna teksti panna -->

<!-- siia tulevad app-routing seest seosed millist lehte ta näitab
  millisel URL pathil: siia asemel tuleb Componendi HTML -->
<router-outlet></router-outlet>