<button (click)="onSortByTitleAsc()">Järjesta A-Z</button>
<button (click)="onSortByTitleDesc()">Järjesta Z-A</button>
<button (click)="onSortByPriceAsc()">Järjesta odavamast</button>
<button (click)="onSortByPriceDesc()">Järjesta kallimast</button>

<br><br>

<div *ngFor='let item of items' class="item">
  <div>Toode</div>
  <div class="price">{{ item.price }}</div>
  <div class="title">{{ item.title }}</div>
  <img routerLink="toode/{{item.id}}" src="{{ item.imgSrc }}" alt="">
  <button (click)="onAddToCart(item)">{{"Lisa ostukorvi" | translate}}</button>
  <br><br>
</div>

<!-- <div *ngFor="let pealkiri of pealkirjad">
  {{ pealkiri }}
</div>

<br><br>

{{ objekt }}
<br>
{{ objekt.price }}
<br>
{{ objekt.title }} -->